.wrapper {
  width: 98.5%;
  background-color: #6699FF;
  border-radius: 40px;
  height: 800px;
  margin-top: 12.5px;
  margin-bottom: 10px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  position: relative;
}

.title-bar {
  width: 60%;
  background-color: green;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  height: 200px;
  position: absolute;
}

.game-screen {
  
}