.wrapper {
  width: 96%;
  background-color: #6699FF;
  border-radius: 40px;
  height: 800px;
  margin-top: 12.5px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}

.title-bar {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
<<<<<<< HEAD
  margin-top: 30px;
=======
  margin-top: -30px;
>>>>>>> 99d5cb66f2d10326bf4ab32ab8e9a93a02673e19
  height: 100px;
  position: absolute;
}

.title-bar h1 {
  text-align: center;
<<<<<<< HEAD
=======
  font-family: 'Fredoka One', cursive;
  color: #476BB3;
  font-size: 5em;
  font-weight: 200;
>>>>>>> 99d5cb66f2d10326bf4ab32ab8e9a93a02673e19
}

.game-screen {
  width: 80%;
  height: 600px;
<<<<<<< HEAD
  border: 5px solid white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
  border-radius: 20px;
  background-color: #005CE6;
  position: absolute;
}

.button {
   border-top: 1px solid #476bb3;
   background: #476bb3;
   background: -webkit-gradient(linear, left top, left bottom, from(#476bb3), to(#476bb3));
   background: -webkit-linear-gradient(top, #476bb3, #476bb3);
   background: -moz-linear-gradient(top, #476bb3, #476bb3);
   background: -ms-linear-gradient(top, #476bb3, #476bb3);
   background: -o-linear-gradient(top, #476bb3, #476bb3);
   padding: 14px 28px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #476bb3;
   background: #476bb3;
   }
=======
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
  border-radius: 40px;
  background-color: #B3B3B3;
  position: absolute;
}
>>>>>>> 99d5cb66f2d10326bf4ab32ab8e9a93a02673e19
